[submodule "qmk_compiler"]
	path = qmk_compiler
	url = https://github.com/qmk/qmk_compiler.git
[submodule "qmk_api"]
	path = qmk_api
	url = https://github.com/qmk/qmk_api.git
[submodule "qmk_configurator"]
	path = qmk_configurator
	url = https://github.com/qmk/qmk_configurator.git
[submodule "qmk_api_tasks"]
	path = qmk_api_tasks
	url = https://github.com/qmk/qmk_api_tasks.git
[submodule "qmk_bot"]
	path = qmk_bot
	url = https://github.com/qmk/qmk_bot.git
[submodule "qmk_metrics_aggregator"]
	path = qmk_metrics_aggregator
	url = https://github.com/qmk/qmk_metrics_aggregator.git
	branch = main
[submodule "qmk_graphite"]
	path = qmk_graphite
	url = https://github.com/qmk/qmk_graphite
